* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    font-family: -apple-system, system-ui, sans-serif;
    font-size: 15px;
    line-height: 1.333;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

